<ion-header>
  <ion-toolbar>
    <!-- Botón izquierda -->
    <ion-buttons slot="start">
      <ion-button (click)="volverCatalogo()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <!-- Título -->
    <ion-title>Detalle Mascota</ion-title>

    <!-- Botón derecha -->
    <ion-buttons slot="end">
      <ion-button class="btncatal" (click)="irCatalogo()">
        Catálogo
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

@if (mascota; as m) {
  <ion-content>
    <div class="detalle-container">
      <div class="imagen-card">
        <img [src]="m.imagen" [alt]="m.nombre" class="foto-mascota" />
      </div>

      <h1>{{ m.nombre }}</h1>

      <div class="estado">
        {{ m.estado }}
      </div>

      <div class="info-card">
        <div class="info-item">
          <span class="label">Tipo</span>
          <span>{{ m.tipo }}</span>
        </div>

        <div class="info-item">
          <span class="label">Raza</span>
          <span>{{ m.raza }}</span>
        </div>

        <div class="info-item">
          <span class="label">Edad</span>
          <span>{{ m.edad }} años</span>
        </div>
      </div>

      <div class="descripcion-card">
        <h3>Descripción</h3>

        <p>
          {{ m.descripcion }}
        </p>
      </div>
             <h3>Contactar por whatsapp</h3>
      <a class="whatsapp-fab" href="https://wa.me/573001234567" target="_blank">
        <ion-icon name="logo-whatsapp"> </ion-icon>
      </a>
    </div>
  </ion-content>
}
